html {
  box-sizing: border-box;
  font-family: Bevan;
  font-weight: normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

h1 {
  color: #fff;
  font-family: Georgia, serif;
  font-size: 1.5rem;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  border-radius: 2em;
}

nav ul li a {
  display: inline-block;
}
