html {
  box-sizing: border-box;
  font-family: Bevan;
  font-weight: normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

h1 {
  color: #fff;
  font-family: bevan sans-serif;
  font-size: 1.5rem;
}
